<!--<h1>LIST</h1>-->
<!-- Make ng-repeat and filters -->
<div class="flexcontainer">
    <div class="casino-item">
        <div class="casino-img">
            <img src="img/hardrock.gif">
        </div>
        <a ng-click="go('/building')">CASINO 1</a>
    </div>
    <div class="casino-item">
        <div class="casino-img">
            <img src="img/hardrock.gif">
        </div>
        <a ng-click="go('/building')">CASINO 1</a>
    </div>
    <div class="casino-item">
        <div class="casino-img">
            <img src="img/hardrock.gif">
        </div>
        <a ng-click="go('/building')">CASINO 1</a>
    </div>
</div>