<div class="slots col-lg-12">
<!-- ng reapeat over slots -->
<div class="flexcontainer">
    <div class="slot-item">
        <div class="casino-img">
            <img src="img/lucky-lemmings.jpg">
        </div>
        <a ng-click="go('/location')">Lucky Lemmings</a>
    </div>
    <div class="slot-item">
        <div class="casino-img">
            <img src="img/lucky-lemmings.jpg">
        </div>
        <a ng-click="go('/location')">Lucky Lemmings</a>
    </div>
    <div class="slot-item">
        <div class="casino-img">
            <img src="img/lucky-lemmings.jpg">
        </div>
        <a ng-click="go('/location')">Lucky Lemmings</a>
    </div>
</div>
</div>